.pixel {
  animation: twinkle 5s infinite;
  opacity: 15%;
  width: 1.5vw;
  height: 1.5vw;
  &__container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    max-height: 4rem;
    overflow: hidden;
    position: absolute;
  }
  &--walk {
    background-color: green;
  }
  &--surf {
    background-color: blue;
  }
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
