.method {
  &__header {
    align-items: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    left: 45vw;
    height: 50%;
    margin: 1.25rem auto;
    position: absolute;
    width: 10vw;
    z-index: 1;
    &--walk {
      background-color: rgb(79, 192, 79);
    }
    &--surf {
      background-color: rgb(134, 134, 243);
    }
  }
  &__title {
    color: white;
    font-size: 2rem;
    text-align: center;
    @media screen and (max-width: 999px) {
      font-size: 1.5rem;
    }
  }
}

.pixel {
  animation: twinkle 5s infinite;
  opacity: 15%;
  width: 1.5vw;
  height: 1.5vw;
  &__container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    max-height: 4rem;
    overflow: hidden;
    position: relative;
  }
  &--walk {
    background-color: green;
  }
  &--surf {
    background-color: blue;
  }
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
