.header {
  &__app {
    background-image: url("./assets/images/banner.jpg");
    background-position: 0% 90%;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    padding: 10rem;
    width: 50vw;
  }
  &__image {
    -webkit-filter: drop-shadow(10px 10px rgb(67, 68, 8));
    width: 50vw;
  }
}
