@use "../../styles/fonts";

.version-buttons {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  &__grid {
    display: grid;
    grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
    column-gap: 1vw;
    // @media screen and (max-width: 999px) {
    //   width: 90%;
    // }
  }
  &__version {
    font-family: "Bolt";
    margin-bottom: 0;
    text-align: center;
  }
  &__button {
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5vw 1vw;
    box-sizing: border-box;
    color: black;
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0.15vw;
    padding: 0.15vw 0.5vw;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    @media screen and (max-width: 1300px) {
      font-size: 0.65rem;
      border-width: 0.25rem 0.5rem;
      width: 80px;
      margin: 0.25rem;
    }
    &--red {
      // background-color: rgba(255, 70, 70);
      // border-color: rgb(255, 23, 23);
      background-color: lightgrey;
      border-color: grey;
    }
    &--blue {
      // background-color: rgb(144, 144, 248);
      // border-color: blue;
      background-color: lightgrey;
      border-color: grey;
    }
    &--yellow {
      // background-color: rgb(255, 255, 123);
      // border-color: yellow;
      background-color: lightgrey;
      border-color: grey;
    }
    &--gold {
      // background-color: rgba(248, 224, 86);
      // border-color: gold;
      background-color: lightgrey;
      border-color: grey;
    }
    &--silver {
      // background-color: rgb(230, 228, 228);
      // border-color: silver;
      background-color: lightgrey;
      border-color: grey;
    }
    &--crystal {
      // background-color: rgb(170, 166, 211);
      // border-color: rgb(137, 132, 179);
      background-color: lightgrey;
      border-color: grey;
    }
    &--ruby {
      // background-color: rgb(185, 120, 120);
      // border-color: rgba(177, 1, 1);
      background-color: lightgrey;
      border-color: grey;
    }
    &--sapphire {
      // background-color: rgb(167, 167, 233);
      // border-color: rgb(11, 11, 219);
      background-color: lightgrey;
      border-color: grey;
    }
    &--emerald {
      // background-color: rgb(114, 214, 114);
      // border-color: green;
      background-color: lightgrey;
      border-color: grey;
    }
    &--diamond {
      background-color: rgba(192, 192, 192);
      border-color: rgb(168, 161, 194);
    }
    &--pearl {
      background-color: rgb(245, 175, 175);
      border-color: rgb(236, 134, 134);
    }
    &--platinum {
      background-color: rgb(247, 197, 151);
      border-color: rgb(243, 167, 95);
    }
    &--black {
      // background-color: rgb(63, 63, 63);
      // border-color: black;
      // color: white;
      background-color: lightgrey;
      border-color: grey;
    }
    &--white {
      // background-color: rgb(185, 179, 179);
      // border-color: white;
      background-color: lightgrey;
      border-color: grey;
    }
    &--x {
      // background-color: rgb(160, 253, 238);
      // border-color: rgb(50, 248, 215);
      background-color: lightgrey;
      border-color: grey;
    }
    &--y {
      // background-color: rgb(247, 199, 240);
      // border-color: rgb(236, 146, 224);
      background-color: lightgrey;
      border-color: grey;
    }
    &--sun {
      // background-color: rgba(248, 224, 86);
      // border-color: gold;
      background-color: lightgrey;
      border-color: grey;
    }
    &--moon {
      // background-color: rgb(170, 166, 211);
      // border-color: rgb(137, 132, 179);
      background-color: lightgrey;
      border-color: grey;
    }
    &--sword {
      // background-color: rgba(23, 178, 240);
      // border-color: rgb(78, 199, 247);
      background-color: lightgrey;
      border-color: grey;
    }
    &--shield {
      // background-color: rgb(250, 124, 172);
      // border-color: rgb(255, 0, 98);
      background-color: lightgrey;
      border-color: grey;
    }
  }
}
