/* Fonts */

@font-face {
  font-family: "POKEMON GB";
  src: url(../assets/fonts/PokemonGb-RAeo.ttf) format("TrueType");
  font-weight: 400;
}

@font-face {
  font-family: "Bolt";
  src: url(../assets/fonts/ITC-Bolt-Bold-Regular.otf) format("OpenType");
  font-weight: 400;
}
